html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

dt {
    font-weight: 600;
}

.control-label {
    font-weight: 500;
}

.alternating > tbody > tr{
    background-color: #e6e6e6;
}

.alternating > tbody > tr:nth-of-type(2n){
    background-color: #eee;
}

.alternating2 > tbody > tr:nth-child(odd) {
    background-color: #c5c5c5;
    color: #000;
}

.alternating2 > tbody > tr:nth-child(even) {
    background-color: #e6e6e6;
}

.table {
    --bs-table-hover-color: #258cfb;
    --bs-table-hover-bg:#e29090;
}


